<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
</head>
<body>
    <h3>TABLE_NAME: <span>postal_code</span></h3>
    <table id="main">
    </table>
<script>
    $(() => {
        loadTable()
    })

    const loadContentAsTable = async () => {
        const response = await fetch('http://localhost:8080/api/table/postal_code')
        const data = await response.json()
        let result = ""
        for (const addr of data) {
            result += `<tr><td>${addr.zip}</td><td>${addr.kanjiKen}</td><td>${addr.kanjiShi}</td><td>${addr.kanjiCho}</td></tr>`
        }
        return `<tbody>${result}</tbody>`
    }

    const loadTable = async () => {
        const tbody = await loadContentAsTable()
        const thead = `<thead><th>zip</th><th>kanjiKen</th><th>kanjiShi</th><th>kanjiCho</th></thead>`
        $('#main').html(`${thead}${tbody}`)
    }

</script>
</body>
</html>
